<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoPayStationCommon.Settings.DownloadSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NoPayStationCommon.Settings.Temp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NoPayStationCommon.Settings.DownloadSettings>
            <setting name="ChunkCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxBps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowParallelDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreAllocateFile" serializeAs="String">
                <value>True</value>
            </setting>
        </NoPayStationCommon.Settings.DownloadSettings>
        <NoPayStationCommon.Settings.Temp>
            <setting name="ChunkCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaximumBps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowParallelDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreAllocateFile" serializeAs="String">
                <value>True</value>
            </setting>
        </NoPayStationCommon.Settings.Temp>
    </userSettings>
</configuration>